#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(27, 18, 31);
	opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:rgb(34, 143, 194);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(94, 202, 193);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color:white;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(19, 18, 48) !important;
    color: rgb(34, 143, 194);
}
.navbar .sub{
    color: rgb(237, 169, 36);
}
.container{
    border: solid !important;
    border-radius: 2px !important;
    border-color: rgba(94, 202, 193, 0.658) !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
#idCanvas {
    width: 100%;
    height: 100%;
}

.btnConf{
    position: absolute;
    height: 100%;
    z-index: 1;

}
.btn{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(34, 143, 194, 0.651);
    border: solid !important;
    border-radius: 2px !important;
    border-color: rgba(94, 202, 193, 0.658) !important;
    color: rgb(255, 255, 255);
}

#planos{
    display: block;
}

body{
    background-color: rgb(27, 18, 31) !important;
}
